# Lab Case Study

You are working as an analyst for an auto insurance company. The company has collected some data about its customers including their demographics, education, employment, policy details, vehicle information on which insurance policy is, and claim amounts. You will help the senior management with some business questions that will help them to better understand their customers, improve their services, and improve profitability.

## Import libraries

In [1]:
import pandas as pd
import re

## Import & merge data

In [2]:
file1 = pd.read_csv('Data/file1.csv')
file2 = pd.read_csv('Data/file2.csv')
file3 = pd.read_csv('Data/file3.csv')

In [3]:
file1

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
file2

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.600000,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.200000,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.600000,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.200000,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.200000,Corporate Auto,Two-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,Arizona,M,Master,847141.75%,63513,70,1/0/00,185.667213,Personal Auto,Four-Door Car
992,BS91566,Arizona,F,College,543121.91%,58161,68,1/0/00,140.747286,Corporate Auto,Four-Door Car
993,IL40123,Nevada,F,College,568964.41%,83640,70,1/0/00,471.050488,Corporate Auto,Two-Door Car
994,MY32149,California,F,Master,368672.38%,0,96,1/0/00,28.460568,Personal Auto,Two-Door Car
995,SA91515,California,M,Bachelor,399258.39%,0,111,1/0/00,700.349052,Personal Auto,SUV

In [5]:
file3

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,23405.987980,Bachelor,M,71941,73,0,Personal Auto,198.234764,Four-Door Car
7066,PK87824,California,3096.511217,College,F,21604,79,0,Corporate Auto,379.200000,Four-Door Car
7067,TD14365,California,8163.890428,Bachelor,M,0,85,3,Corporate Auto,790.784983,Four-Door Car
7068,UP19263,California,7524.442436,College,M,21941,96,0,Personal Auto,691.200000,Four-Door Car
7069,Y167826,California,2611.836866,College,M,0,77,0,Corporate Auto,369.600000,Two-Door Car

**Some observations about the files:**

1. It seems like <font color='mediumblue'>file1</font> has a lot of rows with only `NaN` values. We can get rid of them.
2. <font color='mediumblue'>file3</font> has different column names compared to the other files, what would cause trouble when concatenating.

Let's deal with those issues:

In [6]:
print(f'Rows in original file: {file1.shape[0]}')

# Delete rows only if ALL values are missing
file1.dropna(axis=0, how='all', inplace=True)
print(f'Rows after dropping NaN: {file1.shape[0]}')

Rows in original file: 4008
Rows after dropping NaN: 1071

<font color='mediumblue'>file1</font> had almost 3000 rows deleted, but there were no changes in the other files.

In [7]:
# Rename columns in file3 to match the ones in the other files
file3.rename(columns={'State': 'ST', 'Gender': 'GENDER'}, inplace=True)
file3.columns

Index(['Customer', 'ST', 'Customer Lifetime Value', 'Education', 'GENDER',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

Now we can finally join all files and start working on them:

In [8]:
customer_data = pd.concat([file1, file2, file3]).reset_index(drop=True)
customer_data

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
9132,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
9133,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
9134,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
9135,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
9136,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

Description of some columns:

- **Customer lifetime value** is the total worth to a business of a customer over the whole period of their relationship. It's an important metric as it costs less to keep existing customers than it does to acquire new ones, so increasing the value of your existing customers is a great way to drive growth.


- Your **car insurance premium** is the amount you pay your insurance company on a regular basis, often every month or every six months, in exchange for insurance coverage. Once you've paid your premium, your insurer will pay for coverages detailed in the insurance policy, like liability and collision coverage.

## Exploratory data analysis (first steps)

In [9]:
customer_data.nunique()

Customer                     9056
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      8211
Income                       5655
Monthly Premium Auto          209
Number of Open Complaints      12
Policy Type                     3
Vehicle Class                   6
Total Claim Amount           5070
dtype: int64

In [10]:
customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9137 entries, 0 to 9136
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   9137 non-null   object
 1   ST                         9137 non-null   object
 2   GENDER                     9015 non-null   object
 3   Education                  9137 non-null   object
 4   Customer Lifetime Value    9130 non-null   object
 5   Income                     9137 non-null   float64
 6   Monthly Premium Auto       9137 non-null   float64
 7   Number of Open Complaints  9137 non-null   object
 8   Policy Type                9137 non-null   object
 9   Vehicle Class              9137 non-null   object
 10  Total Claim Amount         9137 non-null   float64
dtypes: float64(3), object(8)
memory usage: 785.3+ KB

In [11]:
customer_data.describe()

             Income  Monthly Premium Auto  Total Claim Amount
count   9137.000000           9137.000000         9137.000000
mean   37828.820291            110.391266          430.527140
std    30358.716159            581.376032          289.582968
min        0.000000             61.000000            0.099007
25%        0.000000             68.000000          266.996814
50%    34244.000000             83.000000          377.561463
75%    62447.000000            109.000000          546.420009
max    99981.000000          35354.000000         2893.239678

**Some notes about the data**

- Header names have different naming conventions
- For analysis purposes, the column <font color='orange'>**Customer**</font> doesn't add any useful information
- <font color='orange'>**GENDER**</font> has more unique values than expected
- The columns <font color='orange'>**Customer Lifetime Value**</font> and <font color='orange'>**Number of Open Complaints**</font> have inconsistent values. Also, one should expect a numeric type instead of 'object'.
- Only two columns have missing values: <font color='orange'>**GENDER**</font> and <font color='orange'>**Customer Lifetime Value**</font>. However, <font color='orange'>**Income**</font> values equal to 0 might also be considered missing.

## Data cleaning

### Standardize header names

In [12]:
# change the columns to lower case and snake case (with an underscore)
customer_data.columns = customer_data.columns.str.lower().str.replace(' ', '_')

# change the column 'st' to a more intuitive name
customer_data.rename(columns={'st': 'state'}, inplace=True)

customer_data.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

### Delete unecessary columns

In [13]:
customer_data.drop('customer', axis=1, inplace=True)

In [14]:
customer_data.head()

,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

### Filter data and correct typos

**state**

In [15]:
# check the values in the 'state' column
customer_data['state'].value_counts(dropna=False)

California    3032
Oregon        2601
Arizona       1630
Nevada         882
Washington     768
Cali           120
AZ              74
WA              30
Name: state, dtype: int64

There are inconsistent names for some states. Let's correct them.

In [16]:
customer_data['state'].replace({'Cali': 'California', 'AZ': 'Arizona', 'WA': 'Washington'}, inplace=True)
customer_data['state'].value_counts()

California    3152
Oregon        2601
Arizona       1704
Nevada         882
Washington     798
Name: state, dtype: int64

**gender**

In [17]:
# check the values in the 'gender' column
customer_data['gender'].value_counts(dropna=False)

F         4560
M         4368
NaN        122
Male        40
female      30
Femal       17
Name: gender, dtype: int64

There are some inconsistencies and typos in the values that we need to correct.

In [18]:
customer_data['gender'].replace({'Male': 'M', 'Femal': 'F', 'female': 'F'}, inplace=True)
customer_data['gender'].value_counts(dropna=False)

F      4607
M      4408
NaN     122
Name: gender, dtype: int64

**education**

In [19]:
customer_data['education'].value_counts()

Bachelor                2719
College                 2682
High School or Below    2616
Master                   752
Doctor                   344
Bachelors                 24
Name: education, dtype: int64

In [20]:
# Just a small issue regarding 'Bachelor/s'
customer_data['education'].replace('Bachelors', 'Bachelor', inplace=True)
customer_data['education'].value_counts(dropna=False)

Bachelor                2743
College                 2682
High School or Below    2616
Master                   752
Doctor                   344
Name: education, dtype: int64

The other columns didn't have any odd values, but we could perform some aggregations, if needed.

```python
customer_data['policy_type'].value_counts()
```
```
> Personal Auto     6792
  Corporate Auto    1965
  Special Auto       380
  Name: policy_type, dtype: int64
````
```python        
customer_data['vehicle_class'].value_counts()
```
```
> Four-Door Car    4641
  Two-Door Car     1896
  SUV              1774
  Sports Car        483
  Luxury SUV        182
  Luxury Car        161
  Name: vehicle_class, dtype: int64
```

### Correcting data types

**customer_lifetime_value**

Let's search for all non-alphanumeric characters and remove them, if necessary.

In [21]:
# We only want to modify the values stored as strings. re.findall() returns a list,
# which gives an error when you try to use value_counts()
non_alnum = lambda x: tuple(re.findall(r'(\D)', x)) if isinstance(x, str) else ''

customer_data['customer_lifetime_value'].apply(non_alnum).value_counts()

          7077
(., %)    2060
Name: customer_lifetime_value, dtype: int64

The '%' is the only symbol (apart from the decimal separator). We can remove it.

In [22]:
# We only want to modify the values stored as strings. As the '%' is at the end of the string,
# we can use the strip() function
remove_pct = lambda x: x.strip('%') if isinstance(x, str) else x

customer_data['customer_lifetime_value'] = \
    customer_data['customer_lifetime_value'].apply(remove_pct).astype(float)
customer_data['customer_lifetime_value'].head()

0           NaN
1     697953.59
2    1288743.17
3     764586.18
4     536307.65
Name: customer_lifetime_value, dtype: float64

We're gonna deal with the missing values later.

**number_of_open_complaints**

In [23]:
customer_data['number_of_open_complaints'].value_counts()

0         5629
1/0/00    1626
1          765
2          283
1/1/00     247
3          230
4          119
1/2/00      93
1/3/00      60
5           44
1/4/00      29
1/5/00      12
Name: number_of_open_complaints, dtype: int64

From the values in the form '1/<ins>0-5</ins>/00', we should get the middle number (in between the slashes):

In [24]:
# We only want to modify the values stored as strings. We want to retrieve the
# 3rd item of the string (index 2)
get_middle_number = lambda x: x[2] if isinstance(x, str) else x

customer_data['number_of_open_complaints'] = \
    customer_data['number_of_open_complaints'].apply(get_middle_number).astype(int)
customer_data['number_of_open_complaints'].value_counts()

0    7255
1    1012
2     376
3     290
4     148
5      56
Name: number_of_open_complaints, dtype: int64

Alternatively:
```python
import re
get_middle_number = lambda x: re.search(r'/(\d)/', x).group(1) if isinstance(x, str) else x
                       ...    re.search(r'(?<=/)(.*?)(?=/)', '1/5/00').group()    ...

get_middle_number = lambda x: x.split('/')[1] if isinstance(x, str) else x
```

**total_claim_amount** / **income** / **monthly_premium_auto**

We can convert these columns to `int`

In [25]:
to_convert = ['total_claim_amount', 'income', 'monthly_premium_auto']
customer_data[to_convert] = customer_data[to_convert].astype(int)

Check if we have the right types:

In [26]:
customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9137 entries, 0 to 9136
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      9137 non-null   object
 1   gender                     9015 non-null   object
 2   education                  9137 non-null   object
 3   customer_lifetime_value    9130 non-null   float64
 4   income                     9137 non-null   int32
 5   monthly_premium_auto       9137 non-null   int32
 6   number_of_open_complaints  9137 non-null   int32
 7   policy_type                9137 non-null   object
 8   vehicle_class              9137 non-null   object
 9   total_claim_amount         9137 non-null   int32
dtypes: float64(1), int32(4), object(5)
memory usage: 571.2+ KB

### Remove duplicates

In [27]:
print(f'Rows in the dataframe: {customer_data.shape[0]}')

customer_data.drop_duplicates(inplace=True)
customer_data.reset_index(drop=True, inplace=True)
print(f'Rows in the dataframe after dropping duplicates: {customer_data.shape[0]}')

Rows in the dataframe: 9137
Rows in the dataframe after dropping duplicates: 8875

262 rows were dropped.

### Replace missing values

**customer_lifetime_value**

We're gonna replace `NaN` with the mean and convert the column to `int`.

In [28]:
clv_mean = customer_data['customer_lifetime_value'].mean()

customer_data['customer_lifetime_value'].fillna(clv_mean, inplace=True)
customer_data['customer_lifetime_value'] = customer_data['customer_lifetime_value'].astype(int)

customer_data['customer_lifetime_value'].isna().sum()

0

**income**

We're gonna replace 0s with the mean.

In [29]:
# Calculate the mean DISCONSIDERING the 0
mean_income = int(customer_data['income'][customer_data['income'] > 0].mean())

customer_data['income'].replace(0, mean_income, inplace=True)

**gender**

Let's adopt 'unknown' for the missing values

In [30]:
customer_data['gender'].fillna('Unknown', inplace=True)
customer_data['customer_lifetime_value'].isna().sum()

0

### Standardize strings

Change all text data to lower case

In [31]:
# Get 'object' columns
str_columns = customer_data.select_dtypes('object').columns
customer_data[str_columns] = customer_data[str_columns].applymap(str.lower)

Let's check how our dataframe looks like after all these changes.

In [32]:
customer_data

,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,washington,unknown,master,185590,50714,1000,0,personal auto,four-door car,2
1,arizona,f,bachelor,697953,50714,94,0,personal auto,four-door car,1131
2,nevada,f,bachelor,1288743,48767,108,0,personal auto,two-door car,566
3,california,m,bachelor,764586,50714,106,0,corporate auto,suv,529
4,washington,m,high school or below,536307,36357,68,0,personal auto,four-door car,17
...,...,...,...,...,...,...,...,...,...,...
8870,california,m,bachelor,23405,71941,73,0,personal auto,four-door car,198
8871,california,f,college,3096,21604,79,0,corporate auto,four-door car,379
8872,california,m,bachelor,8163,50714,85,3,corporate auto,four-door car,790
8873,california,m,college,7524,21941,96,0,personal auto,four-door car,691
8874,california,m,college,2611,50714,77,0,corporate auto,two-door car,369

## Data engineering

### Bucket the data

Replace the values in <font color='orange'>**state**</font> according to the following criteria:
- California &#8594; West Region
- Oregon &#8594; North West
- Washington &#8594; East
- Arizona and Nevada &#8594; Central.

In [33]:
customer_data['state'].replace({
    'california': 'west region',
    'oregon': 'north west',
    'washington': 'east',
    'arizona': 'central',
    'nevada': 'central'
}, inplace=True)

customer_data.rename(columns={'state':'region'}, inplace=True)

customer_data.head()

,region,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,east,unknown,master,185590,50714,1000,0,personal auto,four-door car,2
1,central,f,bachelor,697953,50714,94,0,personal auto,four-door car,1131
2,central,f,bachelor,1288743,48767,108,0,personal auto,two-door car,566
3,west region,m,bachelor,764586,50714,106,0,corporate auto,suv,529
4,east,m,high school or below,536307,36357,68,0,personal auto,four-door car,17

The final, cleaned version of the data:

In [34]:
customer_data

,region,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,east,unknown,master,185590,50714,1000,0,personal auto,four-door car,2
1,central,f,bachelor,697953,50714,94,0,personal auto,four-door car,1131
2,central,f,bachelor,1288743,48767,108,0,personal auto,two-door car,566
3,west region,m,bachelor,764586,50714,106,0,corporate auto,suv,529
4,east,m,high school or below,536307,36357,68,0,personal auto,four-door car,17
...,...,...,...,...,...,...,...,...,...,...
8870,west region,m,bachelor,23405,71941,73,0,personal auto,four-door car,198
8871,west region,f,college,3096,21604,79,0,corporate auto,four-door car,379
8872,west region,m,bachelor,8163,50714,85,3,corporate auto,four-door car,790
8873,west region,m,college,7524,21941,96,0,personal auto,four-door car,691
8874,west region,m,college,2611,50714,77,0,corporate auto,two-door car,369