## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
random.seed(0) # so we have a reproducible result everytime we run the notebook

sample_list_1 = random.sample(range(101), k=80)
print(sample_list_1) # print just make the output more compact

[49, 97, 53, 5, 33, 65, 62, 51, 38, 61, 45, 74, 27, 64, 17, 36, 86, 12, 79, 32, 68, 77, 18, 39, 83, 9, 42, 60, 71, 76, 90, 55, 40, 26, 91, 56, 96, 7, 93, 58, 35, 66, 0, 99, 46, 98, 25, 70, 52, 50, 89, 80, 59, 82, 31, 21, 15, 20, 4, 72, 85, 14, 44, 75, 34, 28, 57, 100, 43, 95, 3, 37, 84, 29, 22, 30, 73, 10, 24, 6]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)

print(set1)
len(set1)  # Still 80

{0, 3, 4, 5, 6, 7, 9, 10, 12, 14, 15, 17, 18, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 68, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 82, 83, 84, 85, 86, 89, 90, 91, 93, 95, 96, 97, 98, 99, 100}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
random.seed(0)

sample_list_2 = [random.randint(0, 100) for i in range(80)]
print(sample_list_2)

[49, 97, 53, 5, 33, 65, 62, 51, 100, 38, 61, 45, 74, 27, 64, 17, 36, 17, 96, 12, 79, 32, 68, 90, 77, 18, 39, 12, 93, 9, 87, 42, 60, 71, 12, 45, 55, 40, 78, 81, 26, 70, 61, 56, 66, 33, 7, 70, 1, 11, 92, 51, 90, 100, 85, 80, 0, 78, 63, 42, 31, 93, 41, 90, 8, 24, 72, 28, 30, 18, 69, 57, 11, 10, 40, 65, 62, 13, 38, 70]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)

print(set2)
len(set2)

{0, 1, 5, 7, 8, 9, 10, 11, 12, 13, 17, 18, 24, 26, 27, 28, 30, 31, 32, 33, 36, 38, 39, 40, 41, 42, 45, 49, 51, 53, 55, 56, 57, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 74, 77, 78, 79, 80, 81, 85, 87, 90, 92, 93, 96, 97, 100}

59

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
set3 = set1 - set2

print(set3)

{3, 4, 6, 14, 15, 20, 21, 22, 25, 29, 34, 35, 37, 43, 44, 46, 50, 52, 58, 59, 73, 75, 76, 82, 83, 84, 86, 89, 91, 95, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
set4 = set2 - set1

print(set4)

{1, 69, 8, 41, 11, 13, 78, 81, 87, 92, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5 = set1 & set2

print(set5)

{0, 5, 7, 9, 10, 12, 17, 18, 24, 26, 27, 28, 30, 31, 32, 33, 36, 38, 39, 40, 42, 45, 49, 51, 53, 55, 56, 57, 60, 61, 62, 64, 65, 66, 68, 70, 71, 72, 74, 77, 79, 80, 85, 90, 93, 96, 97, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
len(set1) + len(set2) - 2 * len(set5) == len(set3) + len(set4)

True

#### Create an empty set called `set6`.

In [10]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
set6.update(set3, set5)

print(set6)

{0, 3, 4, 5, 6, 7, 9, 10, 12, 14, 15, 17, 18, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 68, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 82, 83, 84, 85, 86, 89, 90, 91, 93, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [12]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
set3.union(set4, set5) == set1.union(set2)

True

#### Using the `pop` method, remove an element from `set1`.

In [15]:
set1.pop() # removes and return the first element

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)
    
print(set1)

{3, 4, 5, 6, 7, 10, 12, 14, 15, 17, 18, 20, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 50, 52, 53, 55, 56, 57, 58, 60, 62, 64, 65, 66, 68, 70, 72, 73, 74, 75, 76, 77, 80, 82, 83, 84, 85, 86, 90, 93, 95, 96, 97, 98, 100}

Alternatively
```python
set1 = set1 - set(list_to_remove)
print(set1)
```